/* WEBPAGE */

body {
    background-color: #101312
}

/* MAP */

.map {
    margin: 10px 0 0 10px;
}

.baseCountries{
    fill: #161C29;
    stroke: #D4D3AF;
    stroke-width: .3px;
}

/* GRATICULE */

/* gratBackground and gratLines fills MUST be set to same color*/
.gratBackground, .gratLines {
    fill: #11121F;
}

.gratLines {
    stroke: #352842;
    stroke-width: .5px;
}

/* TOGGLE SWITCH */

#worldButton, #regionButton {
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    outline-width: 20px;
}

#worldButton {
    background-color: #AFC3D4;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    width: 100px;
    height: 80px;
    border-color: black;
}

#regionButton {
    background-color: #E0DDCC;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    width: 100px;
    height: 80px;
    border-color: black;
}

/* CHART */

.chart {
    fill: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.chartTitle {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    fill: white;
    white-space: pre-line;
    pointer-events: none;
}

.parameter-value{
    fill: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    pointer-events: none;
}

.tick{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    stroke: white;
    pointer-events: none;
}

.event-dot {
    fill: #D4D3AF;
    stroke: yellow;
    stroke-width: 2px;
}

/* SLIDER */

.track-inset {
    stroke: #D4D3AF;
}

/* SIDEBAR */

.sideBar {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #E0DDCC;
    padding: 10px;
    overflow-y: auto;
    display: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    pointer-events: none;
}

/* HOVER */

.tooltip {
    position: absolute;
    background: #E0DDCC;
    border: 0px;
    padding: 5px;
    display: none;
}

.info {
    position: absolute;
    background: #E0DDCC;
    border: 0px;
    padding: 5px;
    display: none;
}
