.country {
    fill: #cdcdcd;
    stroke: #565555;
    stroke-width: .5px;
}

.map {
    margin: 10px 0 0 10px;
}

.baseCountries{
    fill: #676767;
    stroke: #ffffff;
    stroke-width: .25px;
}

/* gratBackground and gratLines fills MUST be set to same color*/
.gratBackground, .gratLines {
    fill: #201c42;
}

.gratLines {
    stroke: #ffffff;
    stroke-width: .2px;
}